/node_modules
/public/ckeditor
/public/jalalidatepicker
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.htaccess
/.vscode
lib
